[submodule "vendor/tree-sitter-elm"]
	path = vendor/tree-sitter-elm
	url = https://github.com/elm-tooling/tree-sitter-elm
[submodule "vendor/tree-sitter-javascript"]
	path = vendor/tree-sitter-javascript
	url = https://github.com/tree-sitter/tree-sitter-javascript
[submodule "vendor/tree-sitter-ruby"]
	path = vendor/tree-sitter-ruby
	url = https://github.com/tree-sitter/tree-sitter-ruby
